/*  1.Configurações gerais/Padronização  */

@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
* {
    
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Urbanist", sans-serif;
    box-sizing: border-box;
}

a {
    color: inherit;
    padding: 1vw;
}



/*  1.2 Mixins, Variaveis e Animações   */

$boxshadow: rgba(0, 0, 0, 0.459) 2px 5px 12px 2px;
$btncolor: #3d7769;

@mixin centerFlexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin responsiveTaskbox {
    @media screen and(max-width: 800px) {
        margin: 2vh 3vw;
    }
}

@mixin autoSizeResponsive {
    @media screen and(max-width: 800px) {
        height: auto;
        width: auto;
    }
}


@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

//0.1 body
body {
    
    @include centerFlexColumn;
    background-color: #f0f2f5;
}
//  2.  Estilização do corpo  //
//  2.1  Header  //
.l-header {
    animation: gradient 20s ease infinite;
    @include centerFlexColumn;
    background: linear-gradient(-10deg, #3f3f68b6, #163855, #548ca0, #1c4239) no-repeat;
    background-size: 300% 300%;
    color: white;
    height: 30vh;
    width: 100vw;
    box-shadow: $boxshadow;
    border-radius: 0 0 50px 50px;
}
.l-header__description {
    font-size: large;
    @media screen and(max-width: 800px) {
        margin: 2vh 8vw;
    }
}

//  2.2  Main   //

.l-main {
    @include centerFlexColumn;
    height: auto;
    width: auto;
    margin: 4vh 0;
}

.l-main__input {
    @include centerFlexColumn;
    font-size: large;
    background-color: rgba(53, 96, 112, 1);
    color: white;
    width: 55rem;
    height: auto;
    padding: 2vh 0;
    border-radius: 20px;
    box-shadow: $boxshadow;
    @media screen and(max-width: 800px) {
        width: 80vw;
    }
}
.m-input__content {
    align-self: center;
    @media screen and(max-width: 1855px) {
        @include centerFlexColumn;
        transform: translateX(0);
    }
}
#taskInput {
    @include centerFlexColumn;
    align-self: center;
    border-radius: 15px;
    width: 20vw;
    height: 3vh;
    padding-left: 10px;
    font-size: large;
    font-weight: 550;
    @include autoSizeResponsive;
}
#btn-sendtask {
    background: $btncolor;
    width: 20vw;
    padding: 1vh 1vw;
    color: white;
    font-size: large;
    margin-top: 1vh;
    border-radius: 50px;
    align-self: center;
    border: none;
    @include autoSizeResponsive;
    transition-duration: 1.5s;
}
#btn-sendtask:hover {
    background: #265548;
    cursor: pointer;
}

//2.2.1                  Main Content

.l-main__content {
    @include centerFlexColumn;
    margin-top: 3vh;
    background-color: rgba(53, 96, 112, 1);
    width: 55rem;
    height: auto;
    color: white;
    padding-top: 2vh;
    border-radius: 20px;
    box-shadow: $boxshadow;
    @media screen and(max-width: 800px) {
        @include centerFlexColumn;
        @include autoSizeResponsive;
        margin: 4vh 4vw;
    }
}

.m-content__header {
    align-self: center;
    margin-bottom: 2vh;
    text-align: justify;
    padding: 2px 20px;
}
.c-header__tip {
    margin: 1vh auto 1vh auto;
    text-align: justify;
}

.m-content_C {
    @include centerFlexColumn;
    height: auto;
    width: auto;
}
.contentWarn {
    display: none;
    background: rgba(255, 64, 64, 0.7);
    color: white;
    font-size: large;
    font-weight: 400;
    text-align: center;
    margin: 2vh;
    transition: opacity 1500ms;
    will-change: opacity;
}
.contentAdvise {
    display: none;
    color: white;
    font-size: large;
    font-weight: 400;
    text-align: justify;
    margin: 2vh 1vw 1vh 1vw;
    transition: opacity 1500ms;
    will-change: opacity;
}
//                  class para marcar elementos
#checked {
    background-color: RGBA(139, 0, 0, 0.1);
}
#checked > label {
    text-decoration: line-through;
}
//
.m-content__tasks {
    display: flex;
    justify-content: space-between;
    color: $btncolor;
    font-size: large;
    font-weight: 600;
    background-color: #f0f2f5;
    padding: 5px 10px;
    border-radius: 15px;
    width: 35rem;
    height: auto;
    box-shadow: $boxshadow;
    margin-bottom: 2vh;
    transition: opacity 1500ms;
    will-change: opacity;
    @media screen and(max-width: 800px) {
        @include centerFlexColumn;
        height: auto;
        width: 70vw;
    }
}

// classes para animação.

.faded-out {
    opacity: 0;
  };
//
.c-tasks__checkbox {
    align-self: center;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
    @include responsiveTaskbox;
}
.c-tasks__label {
    align-self: center;
    display: flex;
    margin: auto 1vw;
    word-break: break-all;
    @include responsiveTaskbox;
}

.c-tasks__btnRemove {
    font-size: medium;
    background-color: $btncolor;
    color: white;
    border-radius: 25px;
    padding: 8px;
    border: none;
    @include responsiveTaskbox;
    transition-duration: 1.5s;
}

.c-tasks__btnRemove:hover {
    background: #265548;
    cursor: pointer;
}

//  2.3 Footer

.l-footer {
    margin-top: 50vh;
    @include centerFlexColumn;
    background: linear-gradient(10deg, #43447eb7, #163855, #356070, #3d7769) no-repeat;
    background-size: 300% 300%;
    color: white;
    height: 12vh;
    width: 100vw;
    box-shadow: $boxshadow;
    @media screen and(max-width: 800px) {
        font-weight: lighter;
        padding-left: 4vw;
    }
}
